@import "./myCourse.scss";

.box_list_my_courses {
  .list_my_courses {
    margin-top: 90px;

    .title_h1 {
      @include title_h1;
      margin-bottom: 40px;
      border-bottom: 3px solid #ccc;
      padding-bottom: 10px;
    }

    .box_loader_list_my_courses {
      width: 100vw;
      height: 100vh;
      display: flex;
      // align-items: center;
      justify-content: center;
    }
  }
}
